
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;  
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
}

header {
  font-size: 1.5em;
  padding: 30px;
}

section {
  background-color: rgba(15,15,15,0.5);
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 15px;
  width: 43%;
}

.right {
  margin-left: 54%;
}


.empty-page { 
  height: 90vh;
}





